{% extends "base_site.html" %}

{% block title %}Video Upload{% endblock %} 

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.uploadProgress.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validate.min.js"></script>
<script type="text/javascript" charset="utf-8">
//<![CDATA[
// Upload progress bar code from:
// http://www.fairviewcomputing.com/blog/2008/10/21/ajax-upload-progress-bars-jquery-django-nginx/
$(document).ready(function() { 
    $(function() {
        $("tr.form_required td :input").addClass("required");
    });
    $(function() {
        $("#upload_form").validate({
            errorClass: "form_field_error",
            showErrors: function(errorMap, errorList) {
                $("tr.form_errors").show();
                this.defaultShowErrors();
            },
            errorPlacement: function(error, element) {},
            highlight: function(element, errorClass) {
                $(element).closest("tr.form_required").addClass(errorClass);
            },
            unhighlight: function(element, errorClass) {
                $(element).closest("tr.form_required").removeClass(errorClass);
            }
        });
        $("#upload_form").valid();
    });
    $(function() {
        $('#upload_form').uploadProgress({
            jqueryPath: "{{ MEDIA_URL }}js/jquery-1.3.2.js",
            progressBar: '#progress_indicator',
            progressUrl: '{% url upload_progress %}',
            start: function() {
                if ($("#upload_form").valid()) {
                  $("#upload_form").hide();
                  filename = $("#id_video").val().split(/[\/\\]/).pop();
                  $("#progress_filename").html('Uploading ' + filename + "...");
                  $("#progress_container").show();
                  return true;
                }
                return false;
            },
            uploadProgressPath: "{{ MEDIA_URL }}js/jquery.uploadProgress.js",
            uploading: function(upload) {
                if (upload.percents == 100) {
                    $("#progress_filename").html('Processing ' + filename + "...");
                } else {
                    $("#progress_filename").html('Uploading ' + filename + ': ' + upload.percents + '%');
                }
            },
            interval: 1000
        });
    });
});


//]]>
</script>
{% endblock %}

{% block content %}

<form id="upload_form" enctype="multipart/form-data" action="{% url vod_aws:upload_video_form auth_token %}" method="POST">
<table border="1">
  <colgroup class="form_column_labels"></colgroup>
  <colgroup class="form_column_required"></colgroup>
  <colgroup class="form_column_fields"></colgroup>
  <tr class="form_errors"{% if form.errors %}{% else %} style="display: none;"{% endif %}>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
    <td>All fields are required!</td>
  </tr>
  {% for field in form %}
    {% ifequal field.name "public" %}
      <tr class="form_checkbox{% if field.field.required %} form_required{% endif %}{% if form.is_bound %}{% if field.errors %} form_field_error{% endif %}{% else %} form_field_error{% endif %}">
        <th>&nbsp;</th>
        <td>{% if field.field.required %}<span class="form_required">*</span>{% else %}&nbsp;{% endif %}</td>
        <td>{{ field }} {{ field.label_tag }}</td>
      </tr>
    {% endifequal %}
    {% ifnotequal field.name "public" %}
      <tr class="form_normal{% if field.field.required %} form_required{% endif %}{% if form.is_bound %}{% if field.errors %} form_field_error{% endif %}{% else %} form_field_error{% endif %}">
        <th>{{ field.label_tag }}:</th>
        <td>{% if field.field.required %}<span class="form_required">*</span>{% else %}&nbsp;{% endif %}</td>
        <td>{{ field }}</td>
      </tr>
    {% endifnotequal %}
  {% endfor %}
  <tr class="form_submit">
    <th>&nbsp;</th>
    <td>&nbsp;</td>
    <td>
      <input id="form_submit_button" type="submit" value="Upload" />
    </td>
  </tr>
</table>
</form>
<div id="progress_container">
    <div id="progress_filename"></div>
    <div id="progress_bar">
        <div id="progress_indicator"></div>
    </div>
</div>

{% endblock %}
